<h2>Informacion Electoral</h2>
</br>
<p>
	Para votar en las próximas elecciones presidenciales de 2012 debes estar inscrito en el Registro Electoral. Si deseas inscribirte toma en cuenta lo siguiente.
</p>
