<% title "Informacion Electoral" %>
<h2>Informacion Electoral</h2>
</br>

<h4>1. Elecciones Primarias de la Unidad Nacional el 12 de Febrero del 2012 </h4>
<p>
	Puedes votar en las Primarias en NY!
	Sólo tienes que estar inscrito en el consulado de NY antes del 30 de Noviembre y tener tu cedula laminada (vigente o vencida).</br></br>
	Las elecciones serán en la siguiente dirección:</br> 515 Greenwich St, Manhattan. </br><iframe width="325" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=515+Greenwich+St,+Manhattan.&amp;ie=UTF8&amp;hq=&amp;hnear=515+Greenwich+St,+New+York,+10013&amp;t=m&amp;z=14&amp;ll=40.726254,-74.008902&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?q=515+Greenwich+St,+Manhattan.&amp;ie=UTF8&amp;hq=&amp;hnear=515+Greenwich+St,+New+York,+10013&amp;t=m&amp;z=14&amp;ll=40.726254,-74.008902&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small></br></br>
	No tengas miedo de expresar tu opinión. Tu voto será secreto y el material será destruido 48 horas después de las elecciones, para no dejar rastro de los votantes y evitar amedrentamientos por apoyo a la oposición.
</p>


<h4>2. Elecciones Presidenciales del 7 de Octubre del 2012</h4>

<p>El gran reto para las elecciones presidenciales es lograr que más venezolanos se inscriban para votar. Especialmente en el exterior, la apatía es muy alta. Somos mas de 1 millón de Venezolanos viviendo fuera del país y tan solo cerca de 60000 inscritos! Tenemos que cambiar esta situación, pues nuestros votos SI pueden hacer la diferencia!
Estos son los requisitos para inscribirse en el consulado de NY:</p>


<h5>Quienes votan en el consulado de NY?</h5>

<p>Todos los venezolanos que residen en los estados de NY, NJ, CT, PA, RI, DE y VT.</p>



<h5>Donde queda el Consulado?</h5>

<address>
	<strong>Consulado Venezolano NY</strong></br>
	7 East 51st Street </br>
	New York, NY (5ta Ave. con Calle 51).</br>
	<abbr title="Telefono">Tel:</abbr>
	(212) 826-1660</br>
	<abbr title="Email">Email:</abbr>
	newyork.embavenez-us.org
</address>


<h5>Horario de atención:</h5>

<p>Lunes a Viernes, 9:00am-12:40pm y 2:00pm-3:40pm.</br>
El CNE indica que el registro electoral debe ser continuo. El Consulado debe recibirte cualquier día de la semana.
</p>


<h5>Requisitos:</h5>

<ul>
	<li>Cedula laminada (vigente o vencida)</li>
	<li>Pasaporte Venezolano vigente*</li>
	<li>Estatus migratorio en EEUU (Visa, green card o pasaporte americano)</li>
	<li>Dirección y teléfono en EEUU</li>
	<li>Dirección en Venezuela, incluyendo parroquia y municipio</li>
</ul>

<p>*El CNE no indica que el pasaporte vigente sea un requisito para inscribirse. Sin embargo, el Consulado de NY lo solicita. Estamos exigiendo al Consulado que elimine este requisito.
</p>


<h5>Hasta cuándo me puedo inscribir?<h5>

<p>El CNE es quien anuncia la fecha limite de inscripción. Normalmente es 3 meses antes de la fecha de las elecciones. Sin embargo, hay muchos rumores de un cierre mas temprano de lo habitual, alrededor de los últimos días de Marzo. Mientras antes vayas a inscribirte, mejor! Cada voto cuenta. No pierdas la oportunidad de escribir el futuro de Venezuela desde NY o donde quiera que estés. 
</p>
