-if current_user
	- if current_user.state == nil or current_user.city == nil
		%div.alert.fade.in{ :class => "alert-warning" }
			%a.close{:href => "#", :data => {:dismiss => "alert"}} ×
			%p
				Porfavor completa tu registro ingresando tu estado y ciudad donde votas 
				=link_to "aqui", current_user
		
- flash.each do |type, message|
	%div.alert.fade.in{ :class => twitterized_type(type) }
		%a.close{:href => "#", :data => {:dismiss => "alert"}} ×
		%p
			= message