<% if user_signed_in? %>
	<div class = "pull-right">
		<p>
		 <b><%= link_to "Salir", destroy_user_session_path, :method => 'delete' %></b>
		</p>
	</div>
<% else %>
  
	<%= form_for("user", :url => user_session_path, :html => { :class => "pull-right"}) do |f| %>
	  	<%= f.email_field :email, :class => "input-small" ,:placeholder => "Email", :size => 20%>
		  <%= f.password_field :password, :class => "input-small" , :placeholder => "Clave", :size => 10 %>
			<button class="btn" name="commit" type="submit">Entrar</button>
	<% end %>

<% end %>
