<div class="row">
	<div class="span6">
		<div id="fb">			
			<div class="fb-like-box" data-href="http://es-es.facebook.com/pages/Embajadores-del-Voto/322811151070229" data-width="500" data-show-faces="true" data-border-color="#EFEEEE" data-stream="true" data-header="false"></div>
		</div>
	</div>
	<div class="span5">	
		<div id="twitmod">			
			<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
			<script>
			new TWTR.Widget({
			  version: 2,
			  type: 'profile',
			  rpp: 8,
			  interval: 30000,
			  width: 'auto',
			  height: 465,
			  theme: {
			    shell: {
			      background: '#ffffff',
			      color: '#0f00db'
			    },
			    tweets: {
			      background: '#ffffff',
			      color: '#636363',
			      links: '#0c00b8'
			    }
			  },
			  features: {
			    scrollbar: true,
			    loop: false,
			    live: false,
			    behavior: 'all'
			  }
			}).render().setUser('embajadoresvoto').start();
			</script>
		</div>
	</div>
		
</div>