.row
	.span11
		.row-fluid
			#spasos.span3
			.span3
				.step.act
					%h4 Registrate
					%span.cnum 1
					%p A nuestra web para crear tu perfil
			.span3
				.step
					%h4 Colabora
					%span.cnum 2
					%p Se un embajador invitando a tus amigos venezolanos a registrarse desde tu perfil
			.span3
				.step.three
					%h4 Gana
					%span.cnum 3
					%p 
						Por cada amigo que registres ganas 1 punto que luego cambias por 
						%u= link_to'premios', products_path
