<p>
	Firmas:
	<% puts recolectas.id
	@firmas = Signature.where(:cartum_id => recolectas.id)%>
	<% @firmas.each do |x| %>
		<%= x.name + " - " + x.cedula.to_s if x.name and x.cedula %></br>
	<% end %>
</p>
