/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require twitter/bootstrap
 *= require_self
 *= require_tree . 
*/




html{
	
}
body {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333',endColorstr='#555555',GradientType=0);
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container footer p {
  text-align: center; /* center align it with the container */
  color: #4f4f4f;
}

footer {
	border-top: 1px solid #2b2f62;
	position: fixed;
	bottom: 0;
	width: 840px;
	background-color: #ffffff;
}

.container {
  width: 840px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}
.topbar-home .container {
  width: 840px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}


/* The white background content wrapper */
.container  .content {
	/* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
		  margin-top: 0;
		  padding-top: 20px;
		  margin-right: 0;
	  }

/* Page header tweaks */
/* @group Logo */

div#MainTitle {
	float: left;
	background-color: #ffffff;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #efeeee;
}

.topbar-home ul.nav a {
	color: #ffffff;
	font-size: 14px;
	padding: 0 0 5px;
	margin: 15px;
}
.topbar-home ul.nav a:hover {
	border-bottom: 1px solid #ffffff;
	padding-bottom: 4px;
}
body.about ul.nav a.aboutlink {
	border-bottom: 1px solid #ffffff;
	padding-bottom: 4px;
	font-weight: bold;
}
body.information ul.nav a.informationlink {
	border-bottom: 1px solid #ffffff;
	padding-bottom: 4px;
	font-weight: bold;
}
body.contact ul.nav a.contactlink {
	border-bottom: 1px solid #ffffff;
	padding-bottom: 4px;
	font-weight: bold;
}
body.home ul.nav a.homelink {
	border-bottom: 1px solid #ffffff;
	padding-bottom: 4px;
	font-weight: bold;
}

div.left {
	float: left;
	margin-top: 75px;
	width: 261px;
}

.topbar-home form.pull-left {
	float: right;
	margin-top: 40px;
}

.topbar-home a.btn.danger.large {
	float: right;
}

.topbar-home input#user_email.input-small.span3 {
	float: right;
	margin-bottom: 5px;
	width: 158px;
}


#main {
	margin-bottom: 60px;
}



#footer {
	text-align: center;
	margin-top: -40px;
	padding-top: 10px;
	border-top: 2px solid #0405b5;
}

#profile {
	float: left;
}

#logo {
	padding-left: 54px;
	background: url(logosmall.png) no-repeat -2px 1px;
	height: 68px;
	padding-top: 30px;
	float: left;
}

div.right {
	float: right;
	width: 500px;
	margin-top: 70px;
}

div.page-header h1 small {
	float: left;
	color: #b80000;
}

div.page-header h1 {
	display: inline-block;
}


/* @end */
.page-header {
	  background: #E3E3E3;
	  background: -moz-linear-gradient(top,silver 0,#E3E3E3 100%);
	  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,silver),color-stop(100%,#E3E3E3));
	  background: -webkit-linear-gradient(top,silver 0,#E3E3E3 100%);
	  background: -o-linear-gradient(top,silver 0,#E3E3E3 100%);
	  background: -ms-linear-gradient(top,silver 0,#E3E3E3 100%);
	  background: linear-gradient(top,silver 0,#E3E3E3 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C0C0C0',endColorstr='#E3E3E3',GradientType=0);
	  padding: 20px 20px 10px;
	  margin: -20px -20px 20px;
		height: 115px;
		border-bottom: 1px solid #bdbdbd;
	}
	
	div.topbar-home {
		height: 450px;
		display: block;
		margin-top: -40px;
		background: url(topbg.png) center #23346b;
	}
	
	.topbar div.field_with_errors {
	display: inline-block;
}
.step {
	float: left;
	width: 145px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #132b6b;
	color: #ffffff;
	padding: 10px 15px 15px;
	margin-left: 20px;
	-moz-box-shadow: 8px 7px 10px #8b8b8b;
	-webkit-box-shadow: 8px 7px 10px #8b8b8b;
	box-shadow: 8px 7px 10px #8b8b8b;
	overflow: hidden;
}
.step h4{
	color: #fff100;
}
.step p{
	clear: left;
	margin: 0;
	position: relative;
	top: -20px;
}

.step.act h4{
	color: #132b6b;
}

span.snum {
	position: relative;
	top: -40px;
	right: -125px;
	font-size: 45px;
	font-weight: bold;
	float: left;
}

#spasos{
	width: 225px;
	height: 185px;
	float: left;
	background: url(pasos.jpg) no-repeat -12px -9px;
}
.step.act {
	background-color: #fff100;
	color: #3e3e3e;
}

#info {
	float: right;
	text-align: left;
	letter-spacing: 0;
	clear: left;
	margin-top: 10px;
}
/* Give a quick and non-cross-browser friendly divider */
.content .span11 {
	float: right;
	margin: 0;
}

.topbar .btn {
  border: 0;
}
.topbar-inner, .topbar .fill {

  background-color: #101079;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#0a0958), to(#101079));
  background-image: -moz-linear-gradient(top, #0a0958, #101079);
  background-image: -ms-linear-gradient(top, #0a0958, #101079);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #101079), color-stop(100%, #101079));
  background-image: -webkit-linear-gradient(top, #0a0958, #101079);
  background-image: -o-linear-gradient(top, #0a0958, #101079);
  background-image: linear-gradient(top, #0a0958, #101079);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a0958', endColorstr='#101079', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}



/*header nav ul {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
header nav ul li {
  display: inline;
}*/
/*#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}*/

#miniprofile {
	border: 1px solid rgba(255, 255, 255, 0.65);

	-webkit-border-radius: 5px;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius: 5px;
	-moz-border-radius-bottomleft: 0;
	border-radius: 5px;
	border-bottom-left-radius: 0;
	float: left;
	-moz-box-shadow: -1px 1px 4px #a4a4a9;
	-webkit-box-shadow: -1px 1px 4px #a4a4a9;
	box-shadow: -1px 1px 4px #a4a4a9;
	background-color: #f9f9f9;
	padding: 8px;
	z-index: 2;
}

#miniprofile:hover {
	background-color: #eceeff;
}

#pmenu {
	float: left;
	list-style-type: none;
	font-size: 14px;
	-moz-box-shadow: -1px 2px 4px #a4a4a9;
	-webkit-box-shadow: -1px 2px 4px #a4a4a9;
	box-shadow: -1px 2px 4px #a4a4a9;
	background-color: #f9f9f9;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border-top: 2px solid #bdbab9;
opacity: 1;
margin-left: 0;
z-index: -2;
}


#pmenu li {
	padding: 5px 10px;
}

#pmenu li:hover {
	background-color: #ffffff;
	text-decoration: underline;
	border-left: 5px solid #0d0d6a;
	padding-left: 5px;
}
li#bTienda {
	padding-bottom: 10px;
}
li#bPerfil {
	padding-top: 10px;
}
#bTienda:hover {
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#points {
	float: right;
	font-size: 18px;
	padding: 4px;
	margin: 4px 0 4px 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #ffffff;
	-moz-box-shadow: 0 0 1px #bababa;
	-webkit-box-shadow: 0 0 1px #bababa;
	box-shadow: 0 0 1px #bababa;
}

#miniprofile p {
	float: left;
	margin: 0;
}
span.error {
	clear: both;
	display: block;
	width: 100px;
	margin-top: 5px;
	color: #c70000;
}
#statusbar {
	position:relative;
	left:50%;
	float:left;
	clear:both;
	margin: 0;
	text-align:left;
}
div.alert-message {
	display: inline-block;
	position:relative;
	left:-50%;
	text-align:left;
	padding: 5px;
	margin-bottom: 0;
}
div.alert-message.block-message.error {
	position: static;
}
div.alert-message div {
	float: left;
}

div.floatleft {
	float: left;
}
.rmarg {
	margin-right: 10px;
}
.content .span10 {
	
	background-color: #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-left: 0;
	-moz-box-shadow: 0 0 10px #ffffff;
	-webkit-box-shadow: 0 0 10px #ffffff;
	box-shadow: 0 0 10px #ffffff;
}
.content .span3.sidleft{
	margin-right: 11px;
	position: fixed;
}


a.brand {
	background: url(logito.png) no-repeat center;
	text-indent: 150px;
	width: 97px;
	overflow: hidden;
	border-style: none;
	margin-right: 40px;
	opacity: 1;
}

.topbar-home label.email.required {
	display: none;
}

.topbar-home label.password.required {
	display: none;
}

.topbar-home div.input{
	margin: 0;
	float: right;
}

.topbar-home div.input.password.required {
	margin-right: 2px;
}

.topbar-home input.button.btn {
	float: right;
}

div.topbar .container {
	width: 810px;
	padding-left: 15px;
}

a.brand:hover {
	-moz-box-shadow: 0 5px 10px #000000;
	-webkit-box-shadow: 0 5px 10px #000000;
	box-shadow: 0 5px 10px #000000;
	opacity: 1;
	background-image: url(logito2.png);
}

form.simple_form.login {
	float: right;
	width: 175px;
	margin-top: 38px;
}

.topbar-home label.boolean.optional {
	color: #bebebf;
	margin: 0;
	padding: 0 5px 0 0;
}

.topbar-home div.input.boolean.optional {
	margin-top: 5px;
}

