/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require twitter/bootstrap
 *= require_self
 *= require_tree . 
*/


/* Override some defaults */
html{
	background-color: #555555;
}
body {
background: #555;
background: -moz-linear-gradient(top,#333 0,#555 200px);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#333),color-stop(200px,#555));
background: -webkit-linear-gradient(top,#333 0,#555 200px);
background: -o-linear-gradient(top,#333 0,#555 200px);
background: -ms-linear-gradient(top,#333 0,#555 200px);
background: linear-gradient(top,#333 0,#555 200px);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333',endColorstr='#555555',GradientType=0);
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container footer p {
  text-align: center; /* center align it with the container */
  color: #d4d4d4;
}
.container {
  width: 800px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.container  .content {
  background-color: #efeeee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
/* @group Logo */

div#MainTitle {
	float: left;
}

#logo {
	padding-left: 54px;
	background: url(logosmall.png) no-repeat -2px 1px;
	height: 68px;
	padding-top: 30px;
	float: left;
}

div.page-header h1 small {
	float: left;
	color: #b80000;
}

div.page-header h1 {
	display: inline-block;
}


/* @end */
.page-header {
  background-color: #bdbdbd;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
	height: 135px;
	-moz-box-shadow: 0 1px 1px #000000;
	-webkit-box-shadow: 0 1px 1px #000000;
	box-shadow: 0 1px 1px #000000;
}

.topbar div.field_with_errors {
	display: inline-block;
}
#step1 {
	float: left;
	width: 145px;
}
#step2 {
	float: left;
	width: 145px;
	padding-left: 25px;
}
#step3 {
	float: left;
	width: 145px;
	padding-left: 25px;
}

#info {
	float: right;
	text-align: left;
	letter-spacing: 0;
}
/* Give a quick and non-cross-browser friendly divider */
.content .span11 {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid #eee;
}

.topbar .btn {
  border: 0;
}
.topbar-inner, .topbar .fill {

  background-color: #101079;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#0a0958), to(#101079));
  background-image: -moz-linear-gradient(top, #0a0958, #101079);
  background-image: -ms-linear-gradient(top, #0a0958, #101079);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #101079), color-stop(100%, #101079));
  background-image: -webkit-linear-gradient(top, #0a0958, #101079);
  background-image: -o-linear-gradient(top, #0a0958, #101079);
  background-image: linear-gradient(top, #0a0958, #101079);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a0958', endColorstr='#101079', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}



/*header nav ul {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
header nav ul li {
  display: inline;
}*/
/*#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}*/

#miniprofile {
	border: 1px solid rgba(255, 255, 255, 0.65);

	-webkit-border-radius: 5px;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius: 5px;
	-moz-border-radius-bottomleft: 0;
	border-radius: 5px;
	border-bottom-left-radius: 0;
	float: left;
	-moz-box-shadow: -1px 1px 4px #a4a4a9;
	-webkit-box-shadow: -1px 1px 4px #a4a4a9;
	box-shadow: -1px 1px 4px #a4a4a9;
	background-color: #f9f9f9;
	padding: 8px;
	z-index: 2;
}

#miniprofile:hover {
	background-color: #eceeff;
}

#pmenu {
	float: left;
	list-style-type: none;
	font-size: 14px;
	-moz-box-shadow: -1px 2px 4px #a4a4a9;
	-webkit-box-shadow: -1px 2px 4px #a4a4a9;
	box-shadow: -1px 2px 4px #a4a4a9;
	background-color: #f9f9f9;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border-top: 2px solid #bdbab9;
opacity: 1;
margin-left: 0;
letter-spacing: 1px;
text-shadow: -1px 1px 1px #bfbbbb;
z-index: -2;
}


#pmenu li {
	padding: 5px 10px;
}

#pmenu li:hover {
	background-color: #e9e9e8;
}
li#bTienda {
	padding-bottom: 10px;
}
li#bPerfil {
	padding-top: 10px;
}
#bTienda:hover {
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#points {
	float: right;
	font-size: 18px;
	padding: 4px;
	margin: 4px 0 4px 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #ffffff;
	-moz-box-shadow: 0 0 1px #bababa;
	-webkit-box-shadow: 0 0 1px #bababa;
	box-shadow: 0 0 1px #bababa;
}

#miniprofile p {
	float: left;
	margin: 0;
}
span.error {
	clear: both;
	display: block;
	width: 100px;
	margin-top: 5px;
	color: #c70000;
}
div.alert-message {
	margin: 0;
	padding: 5px 20px;
	float: right;
	clear: both;
}

div.floatleft {
	float: left;
}
.rmarg {
	margin-right: 10px;
}
.content .span10 {
	border-left: 1px solid #d3d1d1;
	margin-left: 0;
	padding-left: 20px;
}
.content .span3 {
	margin-right: 11px;
}



