// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form.form-stacked .input {
	margin: 8px;
	float: left;
}

div.clrlft{
	clear:left;
}

form#user_new.simple_form.form-stacked {
	float: left;
	width: 250px;
	padding-left: 0;
}

#user_new input.button.btn {
	float: left;
	margin: 10px 10px 10px 55px;
}

form.form-stacked select {
	width: auto;
}

form.form-stacked label {
	font-weight: normal;
	font-style: normal;
}

#rightMap {
  float: left;
  padding-left: 35px;
}


#left {
  float: left;
  clear: left;
}

#thermometer_container table {
	width: 140px;
	margin: 0;
	float: left;
	border-right: 1px solid #ffffff;
}

#thermometer_container {
  float: left;
  border-top: 6px solid #6f6f6f;
  margin-top: 15px;
  border-bottom: 6px solid #6f6f6f;
  margin-bottom: 15px;
}

#thermometer_container div.bandera {
  opacity: 1;
  background: url(flagbg.png) repeat-x;
  float: left;
  z-index: -7;
  height: 114px;
  overflow: hidden;
  width: 675px;
}

div.bandera em {
  height: 38px;
  float: left;
  clear: both;
  opacity: 1;
  background-color: #000000;
}

#inv {
  background-image: url(flag.png);

}

#comf {
  background: url(flag.png) 0;
}

#emb {

  background: url(flag.png) 0 38px;
}

#thermometer_container p {
  float: left;
  font-size: 14px;
  line-height: 31px;
  margin-right: 10px;
  margin-bottom: 0;
}


tr#amarillo {
	background-color: #fff100;
}
tr#azul {
	background-color: #132b6b;
	color: #ffffff;
}
tr#rojo {
	background-color: #de0107;
	color: #ffffff;
}

#map {
  float: left;
  padding-left: 75px;
}

form#user_new.inline {
  float: left;
}

#user_new.inline p {
  float: left;
  margin-right: 10px;
}

#user_new.inline p input.btn {
  margin-top: 22px;
}

#invite_table {
  width: auto;
  clear: left;
}

#user_new label.error {
  clear: both;
  color: #ff3434;
}

#invite_form {
  float: left;
  width: 100%;
}

#user_new.inline p label {
  width: auto;
}

#righthome {
  float: left;
  width: 565px;
}

#video {
  float: left;
  margin: 10px 10px 10px 16px;
  background: url(videotitle.jpg) no-repeat -13px -38px;
  padding-left: 328px;
}

#termo_wrapper {
	line-height: 14px;
  color: #000000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #d5d5d5;
  display: inline-block;
  float: right;
  margin-right: -10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#twitmod {
  float: left;
  margin: 20px 20px 20px 30px;
}

#fb {
  float: left;
  margin: 20px 20px 20px 35px;
}


p.head {
  float: left;
  width: 500px;
  text-align: left;
  color: #e0e0e0;
  margin-top: 100px;
  text-shadow: 1px 1px 3px #000000;
  font-size: 18px;
  line-height: 30px;
}