// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #C66;
  &:first-letter { text-transform: uppercase; }
}


div.l1 {
	float: left;
	padding: 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #f2f2f2;
	border: 1px solid #c9c9c9;
	width: 207px;
	clear: both;
}

div.l2 {
	float: right;
	width: 355px;
	padding: 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #c9c9c9;
}

.best_in_place{
	background-color: #ffffff;
	padding: 3px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px dotted #c5c3c3;
}
.best_in_place:hover{
	background-color: #f8fe94;

}

span#instruction.label.notice {
	float: left;
	margin-bottom: 10px;
}
#user_edit input.button.btn {
	float: left;
	margin: 8px;
}

form#user_edit.simple_form.form-stacked {
	float: left;
	border-top: 1px solid #cfcfcf;
}