<p>Hola <%= @resource.name %>! Bienvenido a EmbajadorDelVoto.org</p>

<p>Puedes confirmar tu cuenta siguiendo el link siguiente: <%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

