<p>Bienvenido a EmbajadoresDelVoto.org, <%= @resource.name %>!</p>

<p>Puedes confirmar tu cuenta clickeando en el link siguiente:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
