<% title "Tienda" %>
<h1>Tienda</h1>

<% @products.each do |product| %>
  <div class="product">
		<%= image_tag product.image_url(:thumb) if product.image? %>
	  <span id="pname"><strong><%= link_to product.name, product %></strong></span></br>
    <span id="pcost"><%= product.cost %> puntos </span>
	</div>
<% end %>

